@keyframes fontchanging {
  0% {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  10% {
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
  }
  20% {
    font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
  30% {
    font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
  }
  40% {
    font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  50% {
    font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
  }
  60% {
  font-family: "Nova Script", system-ui;
  font-weight: 400;
  font-style: normal;
  }
  70% {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  }
  80% {
  font-family: "Fruktur", system-ui;
  font-weight: 400;
  font-style: normal;
  }
  90% {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  }
  100% {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  }


}
